.mmlab {
	font-size: medium;
	color: #ff9600;
	text-align: left;
}
.facetext {
	font-size: small;
	color: #cdbfff;
	/*text-align: left;*/
}
.page1-header {
	height: 52%;
}
.page1-container {
	height: 48%;
}
.page2-header {
	/*padding-top: 6%;*/
	
	height: 10%;
}
.page2-container {
	height: 84%;
}
.report {
	background-image: url(../img/btn_testresult.png);
}
.radius {
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	/* Old Firefox */
}
#tangmu {
	color: #000000;
	/*background-color: #FFFFFF;*/
	
	width: 100%;
	height: 21px;
	font-size: 20px;
	filter: alpha(opacity=100);
	position: absolute;
	left: 0px;
	top: 6%;
	z-index: 888;
}
.danmu {
	color: #000000;
	/*background-color: #FFFFFF;*/
	
	width: 100%;
	height: 21px;
	font-size: 20px;
	filter: alpha(opacity=100);
	position: absolute;
	left: 0px;
	top: 6%;
	z-index: 888;
}
#textStyle {
	position: absolute;
	font-size: 20px;
	color: #fc557c;
}